<div class="blog-post">
  <h2 class="blog-post-title">
    $if(link)$<a href="$link$">$endif$
    $title$
    $if(link)$</a>$endif$
  </h2>
  <p>
    <span class="badge">$date$</span>
    $if(venue)$
      <span class="badge">$venue$</span>
    $endif$
    $if(location)$
      <span class="badge">$location$</span>
    $endif$
    $if(author)$
      </br><b>Author(s): $author$</b>
    $endif$
  </p>
  
  $body$

  <p class="blog-post-meta">
    $if(preprint)$
      Preprint: <a href=$preprint$>$preprint$</a>
    $endif$
  </p>
</div>
